.footer {
    // .footer__container
    &__container {}
    // .footer__body
    &__body {}
    // .footer__copy
    &__copy {}
}

.body-footer {
    background-color: #fff;
    // .body-footer__top
    &__top {
        padding: 40px 0 38px 0;
        border-bottom: 1px solid #EFEFEF;
        @media(max-width: 767.98px) {
            padding: 40px 0 20px 0;
        }
    }
    // .body-footer__row
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: 767.98px) {
            justify-content: space-around;
        }
        @media(max-width: 460px) {
            justify-content: start;
        }
    }
    // .body-footer__item
    &__item {}
    // .body-footer__bottom
    &__bottom {}
}

.item-footer {
    // .item-footer__title
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 140.62%;
        color: #000000;
        margin-bottom: 25px;
        border-bottom: 1px solid #EFEFEF;
        padding: 15px 50px 30px 0px;
        @media(max-width: 997.98px) {
            padding: 5px 30px 20px 0px;
        }
    }
}

.menu-footer {
    // .menu-footer__list
    &__list {}
    // .menu-footer__item
    &__item {}
    // .menu-footer__link
    &__link {
        font-size: 12px;
        line-height: 233%;
        color: #828282;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.bottom-footer {
    display: flex;
    align-items: center;
    padding: 52px 0 52px 0;
    flex-wrap: wrap;
    @media(max-width: 690px) {
        justify-content: space-between;
    }
    @media(max-width: 475px) {
        justify-content: center;
        flex-direction: column;
    }
    // .bottom-footer__icons
    &__icons {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        padding-right: 20px;
        padding-bottom: 10px;
        @media(max-width: 690px) {
            width: 100%;
            margin-bottom: 20px;
        }
        @media(max-width: 475px) {
            justify-content: center;
        }
    }
    &__img {
        &:not(:last-child) {
            margin-right: 30px;
        }
        img {
            max-width: 100%;
            transition: all 0.2s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    // .bottom-footer__adress
    &__adress {
        line-height: 114%;
        color: #000000;
        margin-right: 104px;
        @media(max-width: 997.98px) {
            margin-right: 10px;
        }
        @media(max-width: 475px) {
            margin-bottom: 20px;
        }
    }
    // .bottom-footer__phone
    &__phone {
        font-size: 16px;
        line-height: 118%;
        color: #000000;
        margin-right: 40px;
        white-space: nowrap;
        @media(max-width: 997.98px) {
            display: none;
        }
    }
    // .bottom-footer__callback
    &__callback {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        min-height: 40px;
        border: 2px solid #F13C6E;
        border-radius: 40px;
        color: #000;
        transition: all 0.2s ease 0s;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media(max-width: 475px) {
            margin: 0;
        }
    }
}

.copy {
    background-color: #EFEFEF;
    padding: 25px 0 25px 0;
    font-size: 12px;
    line-height: 116%;
    color: #828282;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 997.98px) {
            flex-direction: column;
        }
    }
    // .copy__protection
    &__protection {
        @media(max-width: 997.98px) {
            margin-bottom: 15px;
        }
    }
    // .copy__confidentiality
    &__confidentiality {
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}